In [32]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv

In [33]:
# make path to files (awards)
csv_awards = "AwardsPlayers.csv"
csv_people = "People.csv"
csv_hof = "HallOfFame.csv"

# read file and make into dataframe
awards_df = pd.read_csv(csv_awards,
                             keep_default_na=False, na_values=[""])
hof_df = pd.read_csv(csv_hof,  
                             keep_default_na=False, na_values=[""])
#check data frames
#awards_data_df.head()
#hof_df

#create merged drata frame of hof and awards
merged_df = pd.merge(awards_df, hof_df, on='playerID', how="left")
#rename column titles
merged_df.rename(columns={"yearID_x":"award_year", "yearID_y":"year_inducted"}, inplace=True)

#show only row values under category column to show "player" 
results = merged_df.loc[merged_df.category == "Player",("playerID","awardID", "award_year" , "inducted", "year_inducted", "category")]
#results

#sort to see summary of players who got awards but not necessarily in hof
awardsummary = results.sort_values(['inducted','category', 'playerID','award_year','awardID'])
awardsummary = pd.DataFrame(awardsummary)
awardsummary.head()

,playerID,awardID,award_year,inducted,year_inducted,category
21467,abbotji01,TSN All-Star,1991,N,2005.0,Player
22182,abbotji01,Hutch Award,1995,N,2005.0,Player
350,adamsba01,Baseball Magazine All-Star,1909,N,1937.0,Player
351,adamsba01,Baseball Magazine All-Star,1909,N,1938.0,Player
352,adamsba01,Baseball Magazine All-Star,1909,N,1939.0,Player

In [34]:
#lets see how many how many players got which awards INCLUDING both inducted and not inducted using groupby....count()

groupbyawardID = awardsummary.groupby("awardID")["playerID"].count()
allawards = groupbyawardID.to_frame()
#allawards

#list of only inducted HOF players that got awards and orgnize
hofawards0 = results.loc[merged_df.inducted == "Y", ("playerID","awardID", "award_year" , "inducted", "year_inducted", "category")]
#awardsandhof.head()

#lets see how many awards per player using groupby....count()
hofawards0.groupby("awardID")["playerID"].count()

#convert to dataframe
groupby2 = hofawards0.groupby("awardID")["playerID"].count()
hofawards = groupby2.to_frame()
#hofawards 

final = pd.merge(allawards, hofawards, on='awardID', how="left")
final = final.rename(columns={"playerID_x":"all_players", "playerID_y":"HOF"},)
final['HOF_percentage_of_all_players'] = final["HOF"]/final["all_players"]*100

final
    
#See how many HOF awards - 2370 total\n",
#HOF_avg = final['HOF'].sum()\n",
#print(HOF_avg)"
#see how many different awards there are for people who are in the HOF
#awards1 = len(hofawards0['awardID'].unique())
#awards1 "26 different awards"

#awards_df
#see how many different awards there are all players including ones that
#awards = len(awardsummary['awardID'].unique())

#awards "27 different awards"

,all_players,HOF,HOF_percentage_of_all_players
awardID,,,
ALCS MVP,27,5.0,18.518519
All-Star Game MVP,173,20.0,11.560694
Babe Ruth Award,212,21.0,9.905660
Baseball Magazine All-Star,9553,861.0,9.012876
Branch Rickey Award,23,8.0,34.782609
Comeback Player of the Year,4,1.0,25.000000
Cy Young Award,197,41.0,20.812183
Gold Glove,2717,257.0,9.458962
Hank Aaron Award,30,NaN,NaN
Hutch Award,81,13.0,16.049383
Lou Gehrig Memorial Award,244,26.0,10.655738
Most Valuable Player,879,100.0,11.376564
NLCS MVP,55,4.0,7.272727
Pitching Triple Crown,153,27.0,17.647059
Roberto Clemente Award,108,17.0,15.740741
Rolaids Relief Man Award,155,14.0,9.032258
Rookie of the Year,218,16.0,7.339450
Silver Slugger,1122,151.0,13.458111
TSN All-Star,5294,576.0,10.880242
TSN Fireman of the Year,214,15.0,7.009346
TSN Guide MVP,265,25.0,9.433962
TSN Major League Player of the Year,310,41.0,13.225806
TSN Pitcher of the Year,339,48.0,14.159292
TSN Player of the Year,516,48.0,9.302326
TSN Reliever of the Year,8,2.0,25.000000
Triple Crown,61,14.0,22.950820
World Series MVP,138,19.0,13.768116

In [53]:
#looking at playerID then awardID

groupbyplayerID = awardsummary.groupby("playerID")["awardID"].count()
allplayers = groupbyplayerID.to_frame()
#allplayers

groupby3 = hofawards0.groupby("playerID")["awardID"].count()
hofawards1 = groupby3.to_frame()
#hofawards1

final1 = pd.merge(allplayers, hofawards1, on='playerID', how="left")
final1 = final1.rename(columns={"awardID_x":"Total_player_awards", "awardID_y":"HOF_awards"})
#final1

#groupby to see how many times each player has been inducted\n",
hof_results = hof_df.groupby('playerID')["inducted"].count()
hof_results = hof_results.to_frame()
#hof_results.head()

#print new dataset
Total1 = pd.merge(final1, hof_results, on='playerID', how="left")
                  
#Total1['HOF_awards'].replace('16','0' , inplace=True) \n",
Total1['Final_awards'] = Total1["Total_player_awards"]/Total1["inducted"]
#rearrange
#Total1 = Total1[['Total_player_awards','Final_awards', 'inducted', 'HOF_awards']]
Total1 
#Total2[HOF_awards].replace(\"Nan\",\"0\")\n",
#Total1(['HOF_awards'].replace['NaN','NO'], inplace=True)\n",

#Total1"

           Total_player_awards  HOF_awards  inducted  Final_awards
playerID
aaronha01                   16        16.0         1          16.0
abbotji01                    2         NaN         1           2.0
adamsba01                   30         NaN        15           2.0
ageeto01                     3         NaN         1           3.0
akerja01                     1         NaN         1           1.0
alexape01                   63        21.0         3          21.0
allendi01                   70         NaN        14           5.0
allenjo02                    4         NaN         1           4.0
alleyge01                    4         NaN         1           4.0
alomaro01                   42        21.0         2          21.0
alomasa02                    3         NaN         1           3.0
aloufe01                     1         NaN         1           1.0
alouma01                     1         NaN         1           1.0
aloumo01                     5         NaN         1           5.0
anderga01                    5         NaN         1           5.0
aparilu01                   90        15.0         6          15.0
applilu01                   80        10.0         8          10.0
archeji01                   27         NaN         3           9.0
aurilri01                    2         NaN         1           2.0
ausmubr01                    3         NaN         1           3.0
averiea01                   88        11.0         8          11.0
baergca01                    4         NaN         1           4.0
bagweje01                   77        11.0         7          11.0
bahnsst01                    1         NaN         1           1.0
baineha01                   20         NaN         5           4.0
bakerdu01                    5         NaN         1           5.0
bakerfr01                   91         7.0        13           7.0
bancrda01                  128         8.0        16           8.0
bandosa01                    2         NaN         1           2.0
bankser01                   10        10.0         1          10.0
...                        ...         ...       ...           ...
willibe02                   16         NaN         2           8.0
willibi01                   42         7.0         6           7.0
willicy01                   39         NaN        13           3.0
willima04                   12         NaN         1          12.0
willite01                   39        39.0         1          39.0
willivi01                    1         1.0         1           1.0
willsma01                  135         NaN        15           9.0
wilsoha01                  136         8.0        17           8.0
wilsoji01                   24         NaN        12           2.0
wilsowi02                    3         NaN         1           3.0
winfida01                   20        20.0         1          20.0
woodjo02                    27         NaN         9           3.0
woodke02                     1         NaN         1           1.0
woodwi01                    18         NaN         6           3.0
worreto01                    3         NaN         1           3.0
wrighgl01                   36         NaN        12           3.0
wyattwh01                    5         NaN         1           5.0
wynnea01                    16         4.0         4           4.0
wynnji01                     2         NaN         1           2.0
yastrca01                   16        16.0         1          16.0
yeagest01                    1         NaN         1           1.0
yorkru01                    10         NaN         2           5.0
youngcy01                    9         3.0         3           3.0
younger01                    2         NaN         1           2.0
youngro01                   95         5.0        19           5.0
yountro01                   12        12.0         1          12.0
zachrpa01                    1         NaN         1           1.0
zahnge01                     1         NaN         1           1.0
zambrca01                    3         NaN         1           3.0
ziskri01                     2         NaN         1           2.0

[750 rows x 4 columns]

In [55]:
HOF_avg_awards= Total1['HOF_awards'].mean()

#HOF_avg_sum_awards = Total1['HOF_#_awards'].max()
#39
#HOF_avg_sum_awards = Total1['HOF_awards'].min()
#1
HOF_avg_sum_awards = Total1['HOF_awards'].sum()
print("The average number of awards a HOF collects is " + str(HOF_avg_awards) + ".")
print(HOF_avg_sum_awards)

SyntaxError: invalid syntax (<ipython-input-55-79b3861080a7>, line 2)

In [45]:
player_avg_number_awards = Total1['Final_awards'].mean()
#player_avg_total_awards = Total1['Final_awards'].max()
#47
#player_avg_total_awards = Total1['Final_awards'].min()
#1
player_avg_total_awards = Total1['Final_awards'].sum()
print("The average number of awards a player receives is " + str(player_avg_number_awards) + ".")
print(player_avg_total_awards)

The average number of awards a player receives is 6.275455128205127.
4706.591346153846